---
import Cv from '@/icons/Cv.astro'
import Square from '../ui/Square.astro'
import DATA from '@/data'

import '@/components/buttons/styles.css'
// URL para descargar cv en pdf --> blob:https://resume.io/e511240d-2443-4337-b470-fc86697547d3
---

<Square>
	<a
		class="social-button"
		target="_blank"
		href=`${DATA.LINKS.CV_PDF}`
		title=`Descargar Cv de ${DATA.ME.NAME}`
	>
		<Cv />
	</a>
</Square>

<style>
	.social-button {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		cursor: pointer;
		border: none;
		background: none;
		color: inherit;
	}
</style>
