---
import GitHub from '@/icons/GitHub.astro'
import Square from '../ui/Square.astro'

import '@/components/buttons/styles.css'
---

<Square>
	<a
		class="social-button"
		href="https://github.com/fdreer"
		target="_blank"
		title="Visitar perfil de Franco Dreer en GitHub"
	>
		<GitHub />
	</a>
</Square>
