---
import { Likes, db, eq } from 'astro:db'

const [likes] = await db
	.select({
		number: Likes.number
	})
	.from(Likes)
	.where(eq(Likes.id, 'cv-franco'))
const numberLikes = likes.number
---

<div class="like-button">
	<div class="heart-bg">
		<div class="heart-icon"></div>
	</div>
	<div class="likes-amount">{numberLikes}</div>
</div>

<script>
	import { $ } from '@/lib/dom-selector'
	import { isLiked, setLike, removeLike } from '@/lib/local-storage'

	const intialLikeState = isLiked()

	const likeBtn = $('.like-button')
	const numberLikes = $('.likes-amount')
	const heartIcon = $('.heart-icon')

	if (intialLikeState === 'true') {
		heartIcon?.classList.add('liked')
	}

	if (likeBtn && numberLikes) {
		likeBtn.addEventListener('click', async () => {
			const like = isLiked()
			if (!like) {
				setLike()
				heartIcon?.classList.add('liked')
				numberLikes.textContent = `${Number(numberLikes.textContent) + 1}`

				const res = await fetch('/api/likes', {
					method: 'POST'
				})
				const data = await res.json()
				return
			}

			removeLike()
			heartIcon?.classList.remove('liked')
			numberLikes.textContent = `${Number(numberLikes.textContent) - 1}`

			const res = await fetch('/api/likes', {
				method: 'PATCH'
			})
			const data = await res.json()
			return
		})
	}
</script>

<style>
	.like-button {
		display: flex;
		align-items: center;
	}
	.like-button .heart-icon {
		height: 100px;
		width: 100px;
		background: url('../../assets/img/heart.png');
		background-position: left;
		cursor: pointer;
		position: absolute;
	}

	.like-button .heart-icon.liked {
		animation: like-anim 0.7s steps(28) forwards;
	}

	@keyframes like-anim {
		to {
			background-position: right;
		}
	}

	.like-button .heart-bg {
		background: rgba(255, 192, 200, 0);
		border-radius: 50%;
		height: 45px;
		width: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 100ms ease;
	}

	.like-button .heart-bg:hover {
		background: rgba(255, 192, 200, 0.7);
	}

	.like-button {
		display: flex;
		align-items: center;
	}

	.like-button .likes-amount {
		font-size: 1.5rem;
		color: var(--color-text);
		font-weight: 700;
	}
</style>
