---
import LinkedIn from '@/icons/LinkedIn.astro'
import Square from '../ui/Square.astro'

import '@/components/buttons/styles.css'
---

<Square>
	<a
		class="social-button"
		href="https://www.linkedin.com/in/francodreer"
		target="_blank"
		title="Visitar perfil de Franco Dreer en LinkedIn"
	>
		<LinkedIn />
	</a>
</Square>
