---
import Square from '@/components/ui/Square.astro'
import MailButtonReact from '@/components/buttons/MailButton/MailButton'
---

<Square>
	<!-- <button type="button" class="social-button">
		<MailButton />
	</button> -->
	<MailButtonReact client:load />
</Square>
