---
import Layout from '../layouts/Layout.astro'
import Mail from '../components/ui/icons/Mail.astro'
import GitHub from '../components/ui/icons/GitHub.astro'
import LinkedIn from '../components/ui/icons/LinkedIn.astro'
import { Image } from 'astro:assets'
import myPhoto from '../assets/foto.jpeg'

const links = [
	{
		title: 'Visitar perfil de Franco Dreer en LinkedIn',
		target: 'https://www.linkedin.com/in/francodreer',
		Icon: LinkedIn
	},
	{
		title: 'Enviar correo a francodreer@gmail.com',
		target: 'mailto:francodreer@gmail.com',
		Icon: Mail
	},
	{
		title: 'Visitar perfil de Franco Dreer en GitHub',
		target: 'https://github.com/fdreer',
		Icon: GitHub
	}
] as {
	title: string
	target: string
	Icon: any
}[]
---

<Layout title="Cv de Franco Dreer">
	<section class="info">
		<article>
			<h1>Franco Dreer</h1>
			<h2>Contador Público con horientación a al desarrollo de software</h2>
			<span>🌐 Salta Capital, Argentina</span>
			<footer>
				{
					links.map(({ title, target, Icon }) => (
						<a href={target} target="_blank" title={title} class="">
							{<Icon />}
						</a>
					))
				}
			</footer>
		</article>
		<article>
			<figure class="my-photo">
				<Image
					src={myPhoto}
					alt="Una descripción de mi imagen."
					width="130"
					height="130"
				/>
			</figure>
		</article>
	</section>
</Layout>

<style>
	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.my-photo {
		/* Ajustar tamanio al de la imagen */
		border: var(--mainColor) 2px solid;
		box-shadow: 9px 9px 0px -3px var(--mainColor);
	}
</style>
