---
import Heart from './ui/icons/Heart.astro'
---

<footer class="main-footer">
	<span>Made with</span>
	<Heart size="small" />
	<span>by Franco</span>

	<style>
		footer {
			color: var(--textColor);
			background-color: var(--backgroundColor);
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25rem;
			gap: 5px;
		}
	</style>
</footer>
