---
import Heart from '../icons/HeartPixel.astro'
---

<footer>
	<span>Made with</span>
	<Heart size="small" />
	<span>by Franco</span>

	<style>
		footer {
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25rem;
			gap: 5px;
		}
	</style>
</footer>
