---
import { Image } from 'astro:assets'
import heart from '../../public/pixel-heart.svg'
import Heart from './ui/icons/Heart.astro'
---

<footer class="main-footer">
	<span>Made with</span>
	<Heart size="small" />
	<span>by Franco</span>

	<style>
		footer {
			color: var(--textColor);
			background-color: var(--backgroundColor);
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			gap: 5px;
		}
	</style>
</footer>
