---
import Container from '@/components/ui/Container.astro'
import aboutMe from '../../public/data/about-me.json'
---

<Container>
	<section>
		<h2>Sobre mí</h2>
		<ul>
			{
				aboutMe.map(({ title, description }) => {
					return (
						<li>
							<h3>{title}</h3>
							{description && <p>{description}</p>}
						</li>
					)
				})
			}
		</ul>
	</section>
</Container>

<style>
	li {
		margin-bottom: 20px;
		p {
			font-size: 1.1rem;
		}
	}
</style>
