---
import Container from '@/components/ui/Container.astro'
import myCourses from '../../public/data/my-courses.json'
---

<Container>
	<section>
		<h2>Cursos</h2>
		<ul>
			{
				myCourses.map(({ title, institution, timeFrame }) => {
					return (
						<li>
							<div>
								<h3>
									{title}, {institution}
								</h3>
								{timeFrame ? (
									<span>
										{timeFrame.startDate} - {timeFrame.endDate}
									</span>
								) : null}
							</div>
						</li>
					)
				})
			}
		</ul>
	</section>
</Container>

<style>
	li {
		margin-bottom: 20px;

		div {
			margin-bottom: 5px;

			h3 {
				font-size: 1.25rem;
				font-weight: 500;
			}

			span {
				font-weight: 500;
				font-size: 0.9rem;
				color: #666;
			}
		}
	}
</style>
