---
export const prerender = false

import Container from '@/components/ui/Container.astro'
import LikeButton from '@/components/buttons/LikeButton.astro'
---

<Container>
    <section>
        <h3>¿Te gustó mi CV? Dejá tu like...</h3>
        <article>
            <LikeButton />
        </article>
    </section>
</Container>

<style>
    section {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px 20px 15px;

        h3 {
            color: var(--background-color);
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
</style>
