---
import Container from '@/components/ui/Container.astro'
import LikeButton from '@/components/buttons/LikeButton.astro'
---

<Container>
    <section>
        <h3>¿Te gustó mi CV? Dejá tu like...</h3>
        <article>
            <LikeButton />
        </article>
    </section>
</Container>

<style>
    section {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    section > h3 {
        color: var(--color-muted);
        font-size: 0.95rem;
        font-weight: 400;
        font-style: italic;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
</style>
