---
import Container from '@/components/ui/Container.astro'
---

<Container>
    <section class="data">
        <h2>Perfil profesional</h2>
        <p>
            Contador Público con perfil TI. Especialista en la optimización de procesos y automatización de tareas mediante la integración de herramientas de Business Intelligence. Poseo una alta capacidad de aprendizaje y adaptabilidad técnica, con experiencia avanzada en la parametrización de diversos sistemas de gestión ERP (Odoo y Tango Software), lo que me permite una transición eficiente hacia nuevas plataformas de gestión.
        </p>
    </section>
</Container>

<style>
    p {
        font-size: 1rem;
        color: var(--color-text);
        line-height: 1.7;
    }
</style>
