---
import Container from '@/components/ui/Container.astro'
---

<Container>
    <section class="data">
        <h2>Perfil profesional</h2>
        <p>Entusiasta de la tecnología y los negocios.</p>
    </section>
</Container>

<style>
    p {
        font-size: 1.125rem;
    }
</style>
