---
import Container from '@/components/ui/Container.astro'
---

<Container>
	<section>
		<h2>Perfil profesional</h2>
		<p>Estudiante entusiasta de la tecnología y los negocios.</p>
	</section>
</Container>
