---
import Container from '@/components/ui/Container.astro'
---

<Container>
	<section class="data">
		<h2>Perfil profesional</h2>
		<p>
			Estudiante de contador público con competencia en programación de software
		</p>
	</section>
</Container>

<style>
	p {
		font-size: 1.125rem;
	}
</style>
