<div class="square">
	<slot />
</div>

<style>
	.square {
		display: flex;
		align-items: center;
		justify-content: center;
		border: var(--mainColor) 1px solid;
		box-shadow: 5px 5px 0px -3px var(--mainColor);
	}
</style>
