<div class="square">
	<slot />
</div>

<style>
	.square {
		display: flex;
		align-items: center;
		justify-content: center;
		border: var(--color-primary) 1px solid;
		box-shadow: 5px 5px 0px -3px var(--color-primary);
	}
</style>
